{% extends "records/layout.html" %}

{% block body %}


<div class="container-fluid p-0"> 
    <div class="row align-items-center">



    <div class="position-relative text-center text-white">

        <div class="bg-white text-light py-5" style="background-image: url('../../static/records/images/calvin_banner.png'); background-size: cover; background-position: center;"></div>
            <!-- <div class="bg-overlay position-absolute start-0" style="background-color: #ffffff";></div>  -->
        </div> 


    <!-- Text Content Over the Image -->
    <div class="position-absolute top-50 translate-middle-y ps-5 text-white" style="z-index: 2; width: 50%; left: 10%; background: transparent;">
        <img src="../../static/records/images/gold_heart.png" alt="Gold logo" class="mb-5" style="max-width: 50px;"> >
        <!-- <div class="colored-heart"></div> -->
        <h4 class="fw-bold" style="color:#D7BF48ff">SHARE YOUR STORY</h4>
        <h1 class="fw-bold display-4" style="color:#df2b08">SAVE A DOG</h1>
        <p class="text-black fs-5">
            <!-- If you've experienced IMHA, your input can help others. We're working together to build the data needed to fight IMHA and improve treatment options—without profit, just a shared commitment to saving lives. -->
            Help build the data needed to fight IMHA and improve treatment options—without profit, just a shared commitment to saving lives.
        </p>
        <a href="{% url 'pet_info' %}" class="btn btn-lg text-white" style="background-color:#df2b08">
            <!-- Contribute to IMHA Research <i class="bi bi-arrow-right"></i> -->
            Add your experience <i class="bi bi-arrow-right"></i>
        </a>
    </div>

        <!-- Background Image -->
        <div class="bg-black text-light py-5 text-center" style="background-size: cover; background-position: center;">
            <div class="bg-overlay position-absolute start-0 text-center"></div>

                <!-- Hero Content -->
                <h1 class="position-relative z-1" style="color:#000000">By sharing your dog's journey, you're making a real impact.</h1>
                <!-- <h1 class="position-relative z-1">With IMHA research limited and so few dogs studied, each new story brings us one step closer to better treatment and saving more lives.</h1> -->

                <!-- Blocks -->
                <div class="row justify-content-center position-relative z-1 mt-4">
                    <div class="col-md-2 text-center block p-3 bg-white rounded shadow m-3 block-spacing">
                        <div class="block-top">
                            <img src="../../static/records/images/Brush_Red.webp" alt="Small Dog" class="img-fluid">
                            <!-- <p> Image </p> -->
                            <h3 class="overlay-text">IMHA Resources</h3>
                        </div>
                        <div class="block-middle">
                            <p>New diagnosis? Learn more about IMHA and how to best navigate it.</p>
                        </div>
                        <div class="block-bottom">
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>

                    <div class="col-md-2 text-center block p-3 bg-white rounded shadow m-3 block-spacing">
                        <div class="block-top">
                            <img src="../../static/records/images/Brush_Yellow.webp" alt="Small Dog" class="img-fluid">
                            <h3 class="overlay-text">Ways To Help</h3>
                            <!-- <p> Image </p> -->
                        </div>
                        <div class="block-middle">
                            <p>WagWorks is an all-volunteer organization, so we're always looking for help.</p>
                        </div>
                        <div class="block-bottom">
                            <a href="#" class="btn btn-primary">Get Involved</a>
                        </div>
                    </div>
                    
                    <div class="col-md-2 text-center block p-3 bg-white rounded shadow m-3 block-spacing">
                        <div class="block-top">
                            <img src="../../static/records/images/Brush_Green.webp" alt="Small Dog" class="img-fluid">
                            <h3 class="overlay-text">Donate</h3>
                        </div>
                        <div class="block-middle">
                            <!-- <h3>Donate to the Fight Against IMHA</h3> -->
                            <p>100% of donations go to costs like the website, database maintenance, and research. </p>
                        </div>
                        <div class="block-bottom">
                            <a href="#" class="btn btn-primary">Available Pets</a>
                        </div>
                    </div>
                </div>

                
                <!-- <div class="row justify-content-center position-relative z-1 mt-4">
                    <div class="col-md-2 text-center p-3 bg-white rounded shadow m-2">
                        <h3>Adopt an Animal</h3>
                        <p>Say some stuffsadf asdf as fa sfas f as f asf asd fas f sa fas f sa fs af as here</p>
                        <a href="#" class="btn btn-primary">Available Pets</a>
                    </div>
                    <div class="col-md-2 text-center p-3 bg-white rounded shadow m-2">
                        <h3>Wildlife Rehab</h3>
                        <p>We care for injured wildlife.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                    <div class="col-md-2 text-center p-3 bg-white rounded shadow m-2">
                        <h3>Veterinary Centers</h3>
                        <p>We provide low-cost medical care for pets.</p>
                        <a href="#" class="btn btn-primary">View Services</a>
                    </div>
                    <div class="col-md-2 text-center p-3 bg-white rounded shadow m-2">
                        <h3>Adopt an Animal</h3>
                        <p>Your new best friend is waiting!</p>
                        <a href="#" class="btn btn-primary">Available Pets</a>
                    </div>
                </div> -->
        </div>
    </div>
</div>


{% endblock %}
