{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}WagWorks{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/records/css/custom.css"> 


  <header>
  <!-- Social Links Bar -->
  <div class="bg-secondary py-1">
    <div class="container d-flex justify-content-end align-items-center">
      <!-- Social Icons -->
      <a href="#" class="text-social me-3">Facebook</a>
      <a href="#" class="text-social me-3">Twitter</a>
      <a href="#" class="text-social">Instagram</a>
    </div>
  </div>

    <!-- Logo Section: Inside the Navbar for Left Alignment -->
    <nav class="navbar navbar-expand-lg navbar-light py-3", style="background-color: #FFFFFF;">
      <div class="container">
        <!-- Logo aligned with the leftmost link in the menu -->
        <a href="#" class="navbar-brand">
          <img src="{% static 'records/images/logo_small.png' %}" width="80" height="90" alt="WagWorks Logo"/>
          <span class="fw-bold ms-2">WagWorks</span>
        </a>

        <!-- Toggler Button for Small Screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu Links Section: Below the Logo -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="row w-100">
            <!-- Menu Items (Centered and Spread Out) -->
            <div class="col-12">
              <ul class="navbar-nav mx-auto" style="font-size: 1.25rem; letter-spacing: 1px; justify-content: space-evenly; padding-left: 20px; padding-right: 20px;">
                <li class="nav-item">
                  <a href="{% url 'index' %}" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'about' %}" class="nav-link">Who We Are</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'mission' %}" class="nav-link">What We Do</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'register' %}" class="nav-link">Register Your Dog</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

  </header>


</head>
<body>
<div class="body">
  {% block body %}
  {% endblock %}
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  
</body>


</html>
